nodejs
npm
jupyter_contrib_nbextensions
opencv_jupyter_ui
ipycanvas
ultralytics
opencv-python
pyyaml
paho-mqtt
openvino
tqdm
matplotlib
ipywidgets
onvif-zeep
nbgitpuller
flake8
jupyterthemes
requests
